.comic-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #f8f8f8;
}

.comic-grid {
  display: grid;
  gap: 5px;
  max-width: 750px;  
  /* min-width: 450px; */
  width: 100%;
  background-color: white;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
}
/*! 115 */